@import 'tailwindcss';

body {
  background-color: black;
}

img {
  -webkit-user-drag: none;
  user-drag: none;
}

spline-viewer::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px; /* высота области где надпись */
  background: transparent;
  pointer-events: none;
}

.spline-crop {
  overflow: hidden;
}

/* Обрезаем нижние 60px (подбери под свою сцену) */
.spline-cut {
  clip-path: inset(0px 0px 60px 0px);
}
