@import 'tailwindcss';

body {
  background-color: black;
}

/*Запрет на перетаскивание*/

/* Отключает перетаскивание для всех элементов */
* {
  -webkit-user-drag: none;
  user-drag: none;
}

/* Или только для определенных классов */
.no-drag {
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*-------------------------------------*/

spline-viewer::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px; /* высота области где надпись */
  background: transparent;
  pointer-events: none;
}

.spline-crop {
  overflow: hidden;
}

/* Обрезаем нижние 60px (подбери под свою сцену) */
.spline-cut {
  clip-path: inset(0px 0px 60px 0px);
}

/*Шрифты--- */
@font-face {
  font-family: 'Minecraft';
  src: url('/src/assets/fonts/minecraft.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
